* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Monteserrat";
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  padding: 32px 0px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  position: fixed;
  width: 100%;
}

nav {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right a {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #96bb7c;
  margin-right: 10px;
}

nav .nav-right button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #96BB7C;
  color: white;
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
}

nav .nav-left h4 {
  color: #252B42;
  font-size: 24px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

nav ul a {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.for-future {
  width: 100%;
  height: 70vh;
  padding-top: 100px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 217px 400px;
}

.for-future .center {
  width: 80%;
}

.for-future h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #96BB7C;
  font-size: 15px;
  text-align: center;
}

.for-future h1 {
  font-family: "Montserrat";
  font-size: 57px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #252b42;
  margin: 30px 0px 20px;
}

.for-future h4 {
  font-size: 18px;
  color: #737373;
  text-align: center;
  margin: 20px 0px;
}

.for-future .buttons {
  text-align: center;
}

.for-future .buttons button:first-child {
  height: 52px;
  width: 193px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 15px 40px 15px 40px;
  background-color: #96BB7C;
  border: none;
  margin-right: 4px;
}

.for-future .buttons button:last-child {
  height: 52px;
  width: 193px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 15px 40px 15px 40px;
  border: 1px solid #96BB7C;
  background-color: white;
  margin-left: 4px;
}

.images {
  height: 335px;
  margin: 0 auto;
  width: 90%;
}

.images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images ul li img {
  width: 95px;
}
/*# sourceMappingURL=main.css.map */